<%= form_for @komodo, :url => { :controller => 'komodos', :action => 'update', :id => @komodo } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :age, "Age" %>
    <%= f.text_field :age %>

    <%= f.submit "Update" %>
<% end %>
