<ul>
<% @komodos.each do |komodo| %>
  <li>
    <%= komodo.name %>
      <%= link_to "Show", komodo_path(komodo) %>
      <%= link_to 'Edit', edit_komodo_path(komodo) %>
      <%= button_to 'Delete', komodo_path(komodo), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    </li>
  <% end %>
  </ul>

  <%= link_to 'New Komodo', new_komodo_path %>
